<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteCond %{HTTP_HOST} ^agrovr\.com.br$ [NC]
	RewriteRule ^(.*)$ https://www.agrovr.com.br/$1 [R=301,L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php [L]
</IfModule>