<h1>Mapa do Site</h1>

<hide_produtos>
<div class="row">
	<div class="col-12" style="margin-top: 15px;">
		<div class="list-group">
			<a href="/produtos" class="list-group-item active">
			  Produtos (ver todos)
      </a>
    </div>
    <div class="list-group-item" style="text-align: center;">
      <div class="row">
        <repeat_produtos>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 destaque">
          <a href="/produtos/<param_codigo>/<param_url>" title="<param_nome>">
            <img class="img-fluid rounded" alt="<param_nome>" src="https://webeditorapi.tudolinux.com.br<param_capa>">
            <p class="text-center"><param_nome></p>
          </a>
        </div>
        </repeat_produtos>
      </div>
    </div>
  </div>
</div>
</hide_produtos>

<hide_servicos>
<div class="row">
	<div class="col-12" style="margin-top: 15px;">
		<div class="list-group">
			<a href="/servicos" class="list-group-item active">
			  Serviços (ver todos)
      </a>
    </div>
    <div class="list-group-item" style="text-align: center;">
      <div class="row">
        <repeat_servicos>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 destaque">
          <a href="/servicos/<param_codigo>/<param_url>" title="<param_nome>">
            <img class="img-fluid rounded" alt="<param_nome>" src="https://webeditorapi.tudolinux.com.br<param_capa>">
            <p class="text-center"><param_nome></p>
          </a>
        </div>
        </repeat_servicos>
      </div>
    </div>
  </div>
</div>
</hide_servicos>

<hide_galerias>
<div class="row">
	<div class="col-12" style="margin-top: 15px;">
		<div class="list-group">
			<a href="/galerias" class="list-group-item active">
			  Galerias (ver todas)
      </a>
    </div>
    <div class="list-group-item" style="text-align: center;">
      <div class="row">
        <repeat_galerias>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 destaque">
          <a href="/galerias/<param_codigo>/<param_desc>" title="<param_nome>">
            <img class="img-fluid rounded" alt="<param_nome>" src="https://webeditorapi.tudolinux.com.br<param_capa>">
            <p class="text-center"><param_nome></p>
          </a>
        </div>
        </repeat_galerias>
      </div>
    </div>
  </div>
</div>
</hide_galerias>

<hide_anuncios>
<div class="row">
	<div class="col-12" style="margin-top: 15px;">
		<div class="list-group">
			<a href="/anuncios" class="list-group-item active">
			  Anúncios (ver todos)
      </a>
    </div>
    <div class="list-group-item" style="text-align: center;">
      <div class="row">
        <repeat_anuncios>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 destaque">
          <a href="/anuncios/<param_codigo>/<param_desc>" title="<param_nome>">
            <img class="img-fluid rounded" alt="<param_nome>" src="https://webeditorapi.tudolinux.com.br<param_capa>">
            <p class="text-center"><param_nome></p>
          </a>
        </div>
        </repeat_anuncios>
      </div>
    </div>
  </div>
</div>
</hide_anuncios>

<hide_artigos>
<div class="row">
	<div class="col-12" style="margin-top: 15px;">
		<div class="list-group">
			<a href="/artigos" class="list-group-item active">
			  Artigos (ver todos)
      </a>
    </div>
    <div class="list-group-item" style="text-align: center;">
      <div class="row">
        <repeat_artigos>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 destaque">
          <a href="/artigos/<param_codigo>/<param_url>" title="<param_nome>">
            <img class="img-fluid rounded" alt="<param_nome>" src="https://webeditorapi.tudolinux.com.br<param_capa>">
            <p class="text-center"><param_nome></p>
          </a>
        </div>
        </repeat_artigos>
      </div>
    </div>
  </div>
</div>
</hide_artigos>
